@import "../../variables.scss";

nav {
  font-size: 1.8rem;
  color: var(--dove-gray);

  @media only screen and (max-width: $bp-small) {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    // border: 1px solid red;
  }

  a {
    padding: 1rem 2rem;
    color: var(--dove-gray);

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-right: 1rem;

      @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        border-bottom: 1px solid var(--dove-gray);
      }
    }

    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem 2rem;
    }
  }
}
