.hero-section {
  // position: absolute;
  // top: 5px;
  background-image: url(../../assets/Hero.png);
  background-size: cover;
  height: 90vh;
  width: 100%;
  z-index: -1;

  .hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16rem;

    .main-heading,
    .sub-heading {
      text-align: center;
      margin-bottom: 4.8rem;
    }

    .sub-heading {
      font-weight: bold;
    }

    .hero-button {
      background-color: var(--cream-can);
      color: var(--spicy-mustard);
      width: 30rem;
      height: 5rem;
      font-size: 1.8rem;
      font-weight: bold;
      box-shadow: 1px 2px 5px rgba(black, 0.15);
      transition: all 0.3s;

      &:hover {
        box-shadow: 1px 3px 10px rgba(black, 0.25);
      }
    }
  }
}

.how-it-works-section {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100rem;
  margin: 0 auto;


  .how-it-works-heading,
  .how-it-works-sub-heading {
    font-weight: normal;
    text-align: center;
  }

  .how-it-works-heading {
    margin-bottom: 2.4rem;
  }

  .how-it-works-sub-heading {
    margin-bottom: 4.8rem;
  }

  .morning-section,
  .evening-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;

    .bold {
      font-weight: bold;
    }

    .icon-sun {
      margin-right: 5rem;
    }

    .icon-moon {
      margin-right: 4.5rem;
      margin-left: 2rem;
    }

    .how-works-text {
      font-size: 1.8rem;
      line-height: 1.6;
    }
  }

  .morning-section {
    margin-bottom: 4.8rem;
  }
}

.benefits-section {
  background-color: var(--alabaster);
  padding: 10rem 0;


  h2 {
    text-align: center;
    margin-bottom: 8rem;
  }

  .top-row, .bottom-row {
    max-width: 100rem;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

  }
  
  .top-row {
    justify-content: space-around;
    margin-bottom: 7.2rem;
  }

  .bottom-row {
    justify-content: space-evenly;
  }

}

.testimonial-section {
  padding: 10rem 0;

  h2 {
    text-align: center;
    margin-bottom: 8rem;
  }

  .testimonial-img-quote {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img, span {
    width: 50rem;
  }

  span {
    font-size: 2.6rem;
    line-height: 1.8;
    color: var(--gray);
  }

  .quote {
    margin-left: 4rem;
  }

  .bold {
    font-weight: bold;
  }

}
