$bp-largest: 90rem;
$bp-large: 85rem;
$bp-medium: 70rem;

:root {
  --marzipan: #f8e3a3; // Light Yellow
  --dove-gray: #626262; // Grey for Text
  --gray: #7e7e7e; // Medium Grey
  --alabaster: #f7f7f7; // Light Grey BG Color
  --cream-can: #f7d070; // Dark Yellow
  --spicy-mustard: #7c5e10; // Dark Brown
  --mercury: #e1e1e1;
  --light-gray: #b1b1b1;
}
