.journal-page-container {
  background-color: var(--alabaster);
  height: 100vh;
  padding: 4rem 10rem;
  
  
  .journal-and-button-container {
    background-color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: 0 auto;

    .spinner {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: #204963;
    }

    .journal-entries-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 3.6rem 0;
      flex-wrap: wrap;
    }
  }
}
