@import "../../variables.scss";

.form-input {
  padding: 1rem 2rem;
  // margin-bottom: 2.4rem;
  background-color: var(--alabaster);
  border: 1px solid var(--mercury);
  font-size: 1.6rem;
  color: #b1b1b1;

  &::placeholder {
    color: #b1b1b1;
    font-size: 1.6rem;
  }
}

.short-input {
  width: 25rem;
  margin-bottom: 2.4rem;

  @media only screen and (max-width: $bp-medium) {
    width: 90%;
  }

  @media only screen and (max-width: $bp-medium-small) {
    width: 80%;
  }

  @media only screen and (max-width: $bp-small) {
    // width: 100%;
  }
}

.long-input {
  width: 100%;
}

.single-input {
  margin-bottom: 2.4rem;
}

.is-danger {
  border: 1px solid red;
}
