.form-input {
  padding: 1rem 2rem;
  // margin-bottom: 2.4rem;
  background-color: var(--alabaster);
  border: 1px solid var(--mercury);
  font-size: 1.6rem;
  color: #B1B1B1;
  

  &::placeholder {
    color: #B1B1B1;
    font-size: 1.6rem;
  }
}

.short-input {
  width: 25rem;
  margin-bottom: 2.4rem;
}

.long-input {
  width: 100%;
}

.single-input {
  margin-bottom: 2.4rem;
}

.is-danger {
  border: 1px solid red;
}