.button {
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  border-width: 0px;
}

.wide-button {
  background-color: var(--cream-can);
  color: var(--spicy-mustard);
  width: 25rem;
  padding: 1rem 0;
  box-shadow: 1px 2px 5px rgba(black, 0.15);
  transition: all 0.3s;
  border-radius: 3px;

  &:hover {
    box-shadow: 1px 3px 10px rgba(black, 0.25);
  }
}

.rounded-button {
  background-color: var(--cream-can);
  color: var(--spicy-mustard);
  width: 20rem;
  padding: 1rem;
  border-radius: 4rem;
  align-self: flex-end;

  box-shadow: 1px 2px 5px rgba(black, 0.15);
  transition: all 0.3s;

  &:hover {
    box-shadow: 1px 3px 10px rgba(black, 0.25);
  }
}

.delete-button {
  border: none;
  outline: none;
  font: inherit;
  color: var(--spicy-mustard);
  background: none;
}

.edit-button {
  background-color: var(--cream-can);
  color: var(--spicy-mustard);
}