@import "../../variables.scss";

header {
  .yellow-line {
    height: 0.5rem;
    width: 100%;
    background-color: var(--marzipan);
  }

  .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 120rem;
    margin: auto;
    margin-top: 3.2rem;
    margin-bottom: 4rem;
    // z-index: 10;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      flex-direction: column;
      margin-bottom: 2rem;
    }

    .logo {
      width: 200px;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 1.6rem;
      }
    }
  }
}
