.journal-entry-card {
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  height: 15rem;
  padding: 1.6rem;
  cursor: pointer;
  margin-bottom: 2.4rem;

  box-shadow: 1px 1px 2px rgba(black, 0.15);
  transition: all 0.3s;

  &:hover {
    box-shadow: 1px 1px 5px rgba(black, 0.25);
  }

  .date {
    font-weight: bold;
    color: var(--dove-gray);
    margin-bottom: 1.2rem;
    display: block;
  }

  .feelings-container,
  .button-container,
  .feel-container {
    display: flex;
    justify-content: space-between;
  }

  .feel-container {
    align-items: center;
  }

  .feelings-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    .emoji {
      font-size: 3rem;
    }
  }

  .text {
    font-size: 1.8rem;
    color: var(--dove-gray);
  }
}

.delete-container {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
